.content-container{
    border-radius: 5%;
    .milestone{
        .fa{
            background-color: #FF136F;
            color: #ffffff;
            padding: 5px 7px;
            border-radius: 10%;
        }
    }
    .module{
        .fa{
            font-size: 20px;
        }
    }
}
 
 