.login-form, .register-form{
    padding: 7%;
    background-color: #fff;
    border-radius: 4%;
    .form-title{
        color: #6644F7 ; 
        font-weight: 700;
    }
    label{
        color: #333333;
        font-weight: 700;
    }
    .form-control{
        border-radius: 1.5rem!important;
        height: 3rem!important;
    }
    .arrow-right{
        background-color: #fff;
        padding: 0.75rem;
        border-radius: 1.5rem;
        position: absolute;
        right: 1.5%;
        top: 4%;
    }
    button{
        background: linear-gradient(-45deg,#FF589B,#FF136F);
        border-radius: 1.5rem!important;
        height: 3.5rem!important;
        color: #fff!important;
        font-weight: 700!important;
        position: relative;
    }
}


/*-- Media Responsive --*/
@media screen and (min-width: 576px) {
    .login-form, .register-form{
        margin: 0 5%;
    }
  }
  @media screen and (min-width: 992px) {
    .login-form, .register-form{
        margin: 0 15%;
    }
  }
  @media screen and (min-width: 1200px) {
    .login-form, .register-form{
        margin: 0 20%;
    }
  }
  