.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label::before {
            color: #7bbe72;
        }
        &:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
        }
        &:focus + label::before {
            outline: 0;
        }
    }
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid #7bbe72;
        }
        &:after {
            content: '';
              display: block;
              width: 10px;
              height: 5px;
              border-bottom: 2px solid #7bbe72;
              border-left: 2px solid #7bbe72;
              -webkit-transform: rotate(-45deg) scale(0);
              transform: rotate(-45deg) scale(0);
              transition: transform ease 0.25s;
              will-change: transform;
              position: absolute;
              top: 12px;
              left: 10px;
          }
          span {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}