.continue-block{
    button{
        width: 200px;
        margin: 3%;
        font-size: 18px!important;
        font-weight: 700!important;
        background: linear-gradient(45deg, #0ae015, #07b624);
    }
}